.container {
    width: 90%;
    margin: 0;
    padding: 20px;
}

.navbar {
    background-color: #333;
    overflow: hidden;
}

.nav-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-items li {
    display: inline-block;
    vertical-align: middle;
}

.nav-link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.nav-link:hover {
    background-color: #555;
}

.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('image1.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.hero-content {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 50px;
    font-size: larger;
    box-sizing: border-box;
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}

.text-container {
    position: relative;
    z-index: 1;
    text-align: center;
}

.hero-text {
    font-size: 3rem;
    font-weight: bold;
}

.sub-text {
    font-size: 1.5rem;
    font-weight: lighter;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #f9f9f9;
}

.services {
    background-color: #f5f5f5;
    padding: 50px 0;
}

.services .section-title {
    text-align: center;
    font-size: 2rem;
    color: purple;
    margin-bottom: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.services .service-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.services .service-item {
    text-align: center;
    margin: 0 20px;
    object-fit: cover; 
    padding-left: 40px;
}

.services .service-item img {
    width: 100px;
    height: 100px;

    margin-bottom: 20px;
}

.services .service-description {
    font-size: 1.2rem;
}
.heading-title {
    text-align: center;
    font-size: 36px; /* Adjust font size as needed */
}

.packages .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(33.33% - 2rem), 1fr));
    gap: 2rem;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
    margin-bottom: 40px;
}

@media only screen and (max-width: 1200px) {
    .packages .box-container {
        grid-template-columns: repeat(auto-fit, minmax(calc(50% - 2rem), 1fr));
    }
    .packages .box-container .box {
        margin: 0 auto;
    }
}

@media only screen and (max-width: 768px) {
    .packages .box-container {
        grid-template-columns: repeat(auto-fit, minmax(calc(100% - 2rem), 1fr));
    }
    .packages .box-container .box {
         margin: 0 auto;
    }
}

.packages .box-container .box {
    border: var(--border);
    box-shadow: var(--box-shadow);
    background: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 350px;
}

.packages .box-container .box .content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 94%;
    margin-top: -5px;
}

.packages .box-container .box .content h3,
.packages .box-container .box .content p {
    margin: 5px;
}

.footer {
    background-color: #333;
    color: white;
    padding: 30px 0;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-section {
    flex: 1;
}

.footer-section.left-section {
    flex: 0 0 25%;
}

.footer-section.left-section img {
    width: 70%;
    height: auto;
}

.footer-section.center-section {
    flex: 0 0 40%;
}

.footer-section.center-section h4 {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #e0e0e0;
}

a:hover {
    color: #f7f7f7;
}
